<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/rokey/IdeaProjects/FrameworkTestNGHybrid/src/main/java/qa/tests"><classes><class name="qa.tests.ContactPageTest"><methods><include name="verifyInfoToContactPage"/></methods></class><class name="qa.tests.LoginPageTest"><methods><include name="loginToTheApplication"/></methods></class></classes></test></suite>